<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">

<head>
    <meta charset="UTF-8" />
    <title><%= title %> XHTML 5 Application</title>
</head>

<body>
    <h1><%= title %> XHTML 5 Application via HTTPS</h1>
    <p>Welcome to <%= title %>! Please put valid XHTML 5 markup here</p>
</body>

</html>